body {
  margin: 0;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

canvas {
  background: url('images/background.jpg') no-repeat center center;
  background-size: cover;
  border: 3px solid #fff;
  max-width: 100%;
}

#mobile-controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 999;
}

#mobile-controls button {
  width: 30%;
  padding: 14px 0;
  font-size: 20px;
  background-color: #ffaad4;
  color: white;
  border: none;
  border-radius: 10px;
}

#restart-btn {
  position: absolute;
  display: none;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffaad4;
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
